body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: auto;
  background-position: center !important;
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.container h1 {
  margin: 0;
}

.weather {
  width: 500px;
  padding: 30px;
  background-color: rgba(51, 88, 122, 0.7);
  margin: 50px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input {
  border: none;
  padding: 10px 25px;
  font-size: 18px;
  background-color: white;
  color: black;
  border-radius: 30px;
  margin-right: 10px;
}
.search button {
  border: none;
  outline: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.weather-info {
  width: 100%;
}

.city-temp-icon {
  width: 200px;
}

.city-temp {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.details {
  display: flex;
  justify-content: space-between;
}

.col {
  border: 2px solid black;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 5px 5px 5px 2px black;
  background-color: white;
}

.footer p {
  margin: 0;
  padding: 5px;
  text-align: center;
  color: #fff;
  background-color: black;
  font-weight: 400;
  letter-spacing: 2px;
}

@media (max-width: 765px) {
  .weather {
    width: 100%;
  }

  .details {
    flex-direction: column;
    width: 100%;
  }

  .col {
    width: 100%;
  }

  .search input {
    width: 245px;
  }

  .search {
    display: flex;
    justify-content: center;
  }

  div.col {
    margin-bottom: 20px;
  }
}
